name: Dev PR pipeline.

on:
  pull_request:
    branches: ["main"]
jobs:
  build:
    name: Dev PR pipeline
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'
      - name: Set Up Gradle
        run: gradle wrapper
      - name: Check formatting
        run: ./gradlew ktlintCheck
      - name: Run Tests
        run: ./gradlew testDebugUnitTest
      - name: Run Kover
        run: ./gradlew koverVerifyDebug